@import 'variables.scss';

/* Aseguramos que el h1 esté centrado */
h1.typewriter-left {
    text-align: center; /* Asegura que el h1 se mantenga centrado */
    display: block;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
    border-right: 2px solid #fff;
    animation: typing-h1 1.25s steps(11, end), blink 0.75s step-end infinite;
    animation-fill-mode: forwards;
}

h1.typewriter-left.ended {
    border-right: none;
    animation: none;
}

/* Animación para H2 izquierdo */
.typewriter-left {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-family: monospace;
    border-right: 2px solid #fff;
    animation-fill-mode: forwards;
}

.typewriter-left.ended {
    border-right: none;
    animation: none;
}

/* Animación para H2 derecho */
.typewriter-right {
    direction: rtl;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-family: monospace;
    border-left: 2px solid #fff;
    animation-fill-mode: forwards;
}

.typewriter-left.aboutme-title {
    animation: typing-h2-left-aboutme-title 2s steps(30, end), blink 0.75s step-end infinite;
}

.typewriter-right.cert-title {
    animation: typing-h2-right-cert-title 2s steps(28, end), blink 0.75s step-end infinite;
}

.typewriter-right.ended {
    border-left: none;
    animation: none;
}

/* Keyframes */
@keyframes typing-h1 {
    from { width: 0ch }
    to { width: 11ch }
}

@keyframes typing-h2-left-aboutme-title {
    from { width: 0ch }
    to { width: 30ch } /* Ajuste este valor si el texto en el H2 es más largo */
}

@keyframes typing-h2-right-cert-title {
    from { width: 0ch }
    to { width: 15ch } /* Ajuste este valor si el texto en el H2 es más largo */
}

@keyframes blink {
    50% { border-color: transparent; }
}

.fade-in {
    animation: fadeIn 1s ease-in forwards;
    opacity: 0;
}

.fade-in-right {
    animation: fadeInRight 0.8s ease-in forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeInRight {
    from {
        transform: translateX(40px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}