@import 'sass/variables.scss';

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary;
  color: $secondary;
}

.onPage {
  height: 100vh;
  padding-top: 10rem;
}